@import "compass/css3/user-interface";
@import "compass/layout/sticky-footer";
@import "breakpoint";

$footer-height: 96px;

$break-dumbphone: 320px;
$break-smartphone: 480px;
$break-tablet: 768px;
$break-desktop: 1024px;

$color: #5b87a8;
$color-bright: #7ebbe8;
$color-link: #07b;

@include sticky-footer($footer-height, "#page-wrapper", "#footer-spacer", "#footer");

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $color-link;

    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style: none;

    li {
        display: inline;
    }
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 700;
}

h5 {
    font-size: 16px;
    font-weight: 700;
}

.stripe {
    border-top: 4px solid $color-bright;
}

#page-wrapper {

    #navigation-wrapper {
        background: #444;
        border-bottom: 4px solid $color-bright;
        @include user-select(none);

        h1 {
            display: inline-block;
            a { 
                color: #ddd;
                margin-left: 8px;

                &:visited {
                    color: #ddd;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    #navigation {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;

        input[type=checkbox] {
            display: none;
        }

        a { 
            color: #ddd;

            &:visited {
                color: #ddd;
            }
        }

        @include breakpoint($break-tablet){
            label {
                display: none;
            }

            ul {
                margin-top: 6px;
                list-style: none;

                li {
                    font-size: 24px;
                    display: inline;
                    margin: 8px 12px;
                }
            }
        }

        @include breakpoint(max-width $break-tablet - 1){
            label {
                cursor: pointer;
                display: inline-block;
                margin: 2px 2px 0 0;
                padding: 1px 4px;
                position: relative;

                i {
                    color: #ddd;
                }
            }

            input#navigation-toggle-checkbox {
                display: none;

                &:checked {
                    ~ ul {
                        display: block;
                    }
                    ~ label#navigation-toggle i {
                        color: #888;
                    }
                }
            }

            ul {
                display: none;

                position: absolute;
                top: 36px;
                right: 0;

                list-style: none;
                border: 1px solid #444;
                background: #fff;
                width: 128px;

                li {
                    font-size: 24px;
                    display: block;
                    padding: 8px;
                    border-bottom: 1px dotted #ccc;
                    text-align: center;

                    &:last-child {
                        border-width: 0px;
                    }

                    &:hover {
                        background: #eee;
                    }

                    a, a:visited {
                        color: #444;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    #content {
        padding: 8px;
        clear: both;
        p {
            font-family: Georgia, Times, "Times New Roman", serif;
            margin-top: 32px;
            line-height: 1.5em;

            &:first-child {
                margin-top: 4px;
            }

            font-size: 16px;
            @include breakpoint($break-smartphone){
                font-size: 20px;
            }
            @include breakpoint($break-tablet){
                font-size: 24px;
            }
            @include breakpoint($break-desktop){
                font-size: 28px;
            }
        }
    }

    .date {
        color: #888;
    }

    .post {

        ul {
            list-style: disc;

            li {
                margin-left: 32px;
                display: list-item;
            }

            &.categories {
                list-style: none;

                li {
                    margin-left: 0;
                    display: inline;
                }
            }
        }
    }

    #posts {
        ul {
            list-style: none;

            li {
                display: block;
                margin-top: 8px;
            }
        }
    }

    #categories {
        margin-bottom: 32px;

        li {
            padding: 8px; }
    }
}

#footer {
    @include user-select(none);
    color: #ddd;
    background: #444;

    p {
        text-align: center;
    }

    #social {
        padding: 12px;

        i {
            margin: 0 4px;
        }

        a {
            color: $color;

            &:hover {
                color: $color-bright;
            }
        }
    }
}
