---
date: 2011-12-30
layout: base
slug: archive
title: Archive
---

<div>
    <div>
        <h2>Categories:</h2>
        <ul class="posts-categories">
            {% for tag in site.tags %}
            <li>
                <a href="#{{ tag[0] | downcase }}">{{ tag[0] | replace: '-', ' ' | capitalize }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Posts:</h2>
        <span id="filter"></span>
        <br>
        <ul>
        {% for post in site.posts %}
            <li class="post" data-id="{{ post.date | date: "%Y%m%d"}}">
                <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
                <a href="/{{ post.date | date: "%Y"}}/{{ post.date | date: "%m"}}/{{ post.date | date: "%d"}}/{{ post.slug }}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(e) {
        function filterPosts() {
            var tagsToPostsMap = {};
            var tagsToReadableStringMap = {};
            var hash = location.hash.substr(1);

            {% for tag in site.tags %}
            tagsToPostsMap['{{ tag[0] }}'] = [];
            tagsToReadableStringMap['{{ tag[0] }}'] = '{{ tag[0] | replace: '-', ' ' }}';
            {% endfor %}

            {% for post in site.posts %}
                {% for tag in post.tags %}
                    tagsToPostsMap['{{ tag }}'].push('{{ post.date | date: "%Y%m%d"}}');
                {% endfor %}
            {% endfor%}

            if (!hash in tagsToPostsMap) {
                return;
            }

            document.getElementById('filter').innerHTML = hash === ''
                ? 'Displaying all posts.'
                : `Displaying posts tagged as ${tagsToReadableStringMap[hash]}. <a href="#">Clear filter</a>`;

            var isFiltering = hash !== '';
            var postsToDisplay = tagsToPostsMap[hash];
            var allPosts = document.querySelectorAll(`li.post`);

            for (var post of allPosts) {
                if (isFiltering && !postsToDisplay.includes(post.dataset.id)) {
                    post.classList.add('filtered');
                } else {
                    post.classList.remove('filtered');
                }
            }
        }

        window.addEventListener('hashchange', filterPosts);
        filterPosts();
    });
</script>
