---
layout: base
---

<div id="archives">
    <div id="categories">
        <h2>Categories:</h2>
        <ul>
            {% for category in site.categories %}
            <li>
                <a href="#{{ category[0] }}">{{ category[0] }}</a>
                <span></span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="posts">
        <h2>Posts:</h2>
        <span id="filter">Displaying posts <span id="current-filter"></span></span>
        <ul>
        {% for post in site.posts %}
            <li class="{% for category in post.categories %}{{ category }} {% endfor %} post">
                <span>[{{ post.date | date: "%Y-%m-%d" }}]</span>
                <a href="/{{ post.date | date: "%Y"}}/{{ post.slug }}.html">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#categories a').click(function(){
            highlightCategory($(this).context.hash.slice(1));
        });
        highlightCategory(window.location.hash.slice(1));
    });

    function highlightCategory(category){
        if(category === undefined || category === ''){
            $('#current-filter').text('from all categories');
            return;
        }
        var post_selector = '.'+category;
        $('.post').fadeTo(0, 0.1);
        $(post_selector).fadeTo(0, 1);
        $('#current-filter').html('categorized as '+category+' [<a href="/archive.html">Remove</a>]');
    }
</script>
