<!doctype html>
<html>
<head>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
    <title>L. Gabriel Miller{% if page.title %} :: {{ page.title }}{% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width, user-scalable=no" name="viewport">
</head>
<body>

<div id="layout">
    <nav>
        <ul>
            <li><a class="home" href="/" title="Home">L. Gabriel Miller</a></li>
            <li><a href="/archive" title="Writing">Writing</a></li>
            <li><a href="/about" title="About">About</a></li>
        </ul>
        <div class="divider"></div>
    </nav>

    <main>
        {{ content }}
    </main>
</div>
</body>
</html>
