---
layout: base
---

<div class="post">
    <div class="post-header">
        <h2>{{ page.title }}</h2>
        <span class="date">{{ page.date | date: "%Y-%m-%d" }}</span>
        <ul class="post-categories">
            {% for tag in page.tags %}
            <li><a title="Look up articles categorized as {{ tag }}" href="/archive#{{ tag | downcase }}">{{ tag | replace: '-', ' ' | capitalize }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="post-content">
        {{ content }}
    </div>
</div>
